**/__pycache__
outputs
logs
multirun
lightning_logs
**/*.ipynb_checkpoints*
*.ipynb_checkpoints*
scratches
tmp
data
jobs
contrib/ASIP_OSISAF/mask_PanArctic*
contrib/CROSCIM/mask_PanArctic*
Notebooks/ASIP_OSISAF/checkpoints
Notebooks/log*
Notebooks/checkpoints*
ckpt/*
debug_plots/*
contrib/CROSCIM/mask_PanArctic.nc
ckpt/CROSCIM/base_croscim_UNet_supervised.ckpt
ckpt/CROSCIM/base_croscim_4DVarNet_sic_res50.ckpt
ckpt/CROSCIM/base_croscim_4DVarNet_sic.ckpt
ckpt/CROSCIM/base_croscim_UNet_sic_res50.ckpt
ckpt/CROSCIM/base_croscim_UNet_sic.ckpt
ckpt/ckpt_4dvarNet_diff.pth
Notebooks/checkpoints_CT_dynamical_systems/cm/model.pt
Notebooks/checkpoints_CT_full_4DVarNet/cm/model.pt
Notebooks/logs_CT_full_4DVarNet/cm/events.out.tfevents.1760476159.ohm.dmi.dk.2806880.5
Notebooks/logs_CT_full_4DVarNet/cm/checkpoints/epoch=775-step=40352.ckpt
Notebooks/logs_CT_few_steps_time_embedding/cm/checkpoints/epoch=499-step=26000.ckpt
Notebooks/logs_CT_as_4DVarNet/cm/checkpoints/epoch=29-step=1560.ckpt
Notebooks/logs_CT_as_4DVarNet/cm/checkpoints/epoch=3-step=208.ckpt
Notebooks/logs_CT_as_4DVarNet/cm/checkpoints/epoch=7-step=416.ckpt
Notebooks/logs_CT_as_4DVarNet/cm/checkpoints/epoch=10-step=572.ckpt
Notebooks/logs_CT_as_4DVarNet/cm/checkpoints/epoch=321-step=16744.ckpt
Notebooks/logs_CT_as_4DVarNet/cm/checkpoints/epoch=499-step=26000.ckpt
Notebooks/logs_CT_dynamical_systems/cm/checkpoints/epoch=211-step=11024.ckpt
Notebooks/logs_CT_dynamical_systems/cm/checkpoints/epoch=74-step=3900.ckpt
Notebooks/logs_CT_few_steps_4DVarNet/cm/checkpoints/epoch=104-step=5460.ckpt
Notebooks/logs_CT_few_steps_4DVarNet/cm/checkpoints/epoch=996-step=51844.ckpt
Notebooks/checkpoints_CT_few_steps_4DVarNet/cm/model.pt
Notebooks/checkpoints_CT_as_4DVarNet/cm/model.pt
Notebooks/ASIP_OSISAF/logs/cm/checkpoints/epoch=4-step=65.ckpt
Notebooks/ASIP_OSISAF/logs/cm/checkpoints/epoch=71-step=1800.ckpt
Notebooks/ASIP_OSISAF/logs/cm/checkpoints/epoch=3-step=52.ckpt
Notebooks/ASIP_OSISAF/logs/cm/checkpoints/epoch=9-step=130.ckpt
Notebooks/ASIP_OSISAF/logs/cm/checkpoints/epoch=9-step=250.ckpt
Notebooks/ASIP_OSISAF/logs/cm/checkpoints/epoch=70-step=1775-v1.ckpt
Notebooks/ASIP_OSISAF/logs/cm/checkpoints/epoch=70-step=1775.ckpt
Notebooks/ASIP_OSISAF/logs/cm/checkpoints/epoch=9-step=250-v1.ckpt
Notebooks/ASIP_OSISAF/checkpoints/epoch=192.ckpt
Notebooks/ASIP_OSISAF/checkpoints/epoch=290.ckpt
Notebooks/ASIP_OSISAF/checkpoints/epoch=297.ckpt
Notebooks/ASIP_OSISAF/checkpoints/cm/model.pt
Notebooks/ASIP_OSISAF/checkpoints/epoch=001.ckpt
Notebooks/ASIP_OSISAF/checkpoints/epoch=005.ckpt
Notebooks/ASIP_OSISAF/checkpoints/epoch=111.ckpt
Notebooks/ASIP_OSISAF/checkpoints/epoch=296.ckpt
Notebooks/ASIP_OSISAF/checkpoints/epoch=186.ckpt
Notebooks/ASIP_OSISAF/checkpoints/epoch=006.ckpt
Notebooks/ASIP_OSISAF/checkpoints/epoch=116.ckpt
Notebooks/ASIP_OSISAF/checkpoints/epoch=204.ckpt
Notebooks/ASIP_OSISAF/checkpoints/epoch=104.ckpt
Notebooks/checkpoints_CT_few_steps_time_embedding/cm/model.pt
Notebooks/checkpoints/cm/model.pt
ckpt/CROSCIM/base_croscim_UNet_res50_res10_supervised.ckpt
ckpt/CROSCIM/base_croscim_UNet_sit_supervised.ckpt
ckpt/CROSCIM/base_croscim_UNet_sic_supervised.ckpt
